.animal{
  border: 1px solid white;
  padding: 15px 20px;
  text-align: left;
  margin: auto;
  width: 35%;
  color: white;

}
.animal-photo{

  width: 100%;
  max-height:350px;
}

.animals-container{
  display: flex;
}

.animal-button{
  padding: 8px 15px;
}
